<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @knx_module.name %>
</p>

<% if can? :update, @knx_module %>
  <%= link_to 'Edit', edit_knx_module_path(@knx_module) %> |
<% end %>
<%= link_to 'Back', knx_modules_path %>
