<% users.order(:id).each do |user| %>
  <tr data-link="<%= user.id %>">
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td>
      <% for role in user.roles %>
        <%= role.name %>
        <% if (role.id != user.roles.last.id) %>
          +
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>