<div id="second">
  <%= render partial: "rule", locals: {number: 1} %><br>
</div>

<div id="third">
  <%= render partial: "rule", locals: {number: 2} %><br>
</div>

<div id="fourth">
  <%= render partial: "rule", locals: {number: 3} %><br>
</div>

<div id="fifth">
  <%= render partial: "rule", locals: {number: 4} %><br>
</div>