/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap"
@import "bootstrap2-toggle"
@import 'glyphicons'
@import "flag-icon"

@media (max-width: 400px)
    .navbar.justify-content-between
        padding: 0.5rem 0rem

@media (max-width: 768px)
    .navbar.justify-content-between
        text-align: center

ul
    &#nav-tab
        display: none
    &#nav-tab-responsive
        display: block

@media (min-width: 868px)
    ul
        &#nav-tab
            display: flex
        &#nav-tab-responsive
            display: none !important

.btn-secondary:focus, .btn-secondary.focus, .btn-outline-secondary:focus, .btn-outline-secondary.focus
    box-shadow: none

div#navbarTogglerDemo01
    ul
        margin-top: 0 !important
        li > h3
            margin-top: 15px
    form, form > ul
        margin-bottom: 0 !important
        margin-top: 0 !important
        ul > li.nav-item > a
            text-align: left
            color: black
            @media (min-width: 768px)
                text-align: center
            span
                width: 48px
                margin: 2px auto 4px auto
                top: 3px
                line-height: 24px
                position: relative
                font-size: 24px
                @media (min-width: 768px)
                    display: block
                    top: 0

.nav-item
    margin-bottom: -2px !important

div.form-group
    margin-bottom: 0px
    padding: 10px 20px

.slider-wrapper-horizontal
    display: inline-block
    width: 150px
    height: 20px
    padding: 0

.slider-wrapper-vertical
    display: inline-block
    width: 20px
    height: 150px
    padding: 0

.vertical
    width: 150px
    height: 20px
    margin: 0
    transform-origin: 75px 75px
    transform: rotate(-90deg)

label.btn-outline-secondary > input
    position: absolute
    clip: rect(0, 0, 0, 0)
    pointer-events: none

.btn-right-radius
    border-top-right-radius: 0
    border-bottom-right-radius: 0

.btn-left-radius
    border-top-left-radius: 0
    border-bottom-left-radius: 0

.btn:hover
    text-decoration: none


.glyphicon-step-backward, .glyphicon-backward, .glyphicon-step-forward, .glyphicon-forward
    top: 0px

.glyphicon-step-backward, .glyphicon-forward
    margin-right: -5px

.glyphicon-step-forward, .glyphicon-backward
    margin-left: -5px

.row>form
    width: 100%

.toggle-group
    .btn.btn-primary.toggle-on
        color: #fff
        background-color: #428bca
        border-color: #357ebd
    .btn.btn-default.active.toggle-off
        color: #333
        background-color: #e6e6e6
        border-color: #ccc !important
    .btn.btn-default.toggle-handle
        color: #333
        background-color: #fff
        border-color: #ccc !important

.toggle
    border-color: #ccc !important

.padding-left
    padding-left: 0px

.padding-right
    padding-right: 0px

.center
    justify-content: center

.text-center
    text-align: center

.text-right
    text-align: right

.margin-index
    margin: 10px 0px

.top10
    margin-top: 10px !important

.bold
    font-weight: bold

.block
    display: inline-block

div.row.form
    padding: 5px 0px

div.card
    margin-bottom: 10px

div.widget
    margin: 10px 0px 0px 10px !important
    padding: 0
    max-width: 18rem
    min-width: 290px
    border: 1px solid rgba(0, 0, 0, 0.125) !important
